<div class="container">
    <h1>About Me</h1>
    <p>I was a front-end development intern, specializing in Angular. I gained valuable experience and skills during my internship, honing my proficiency in front-end technologies.</p>
    <p>I am particularly interested in cloud technologies, and I recently obtained the <a href="{{link}}">AWS Cloud Practitioner certificate</a>. This certification demonstrates my knowledge and understanding of fundamental AWS cloud concepts and services.</p>
    <p>Combining my passion for front-end development and cloud technologies, I aim to create innovative and scalable web applications that leverage the power of the cloud.</p>
  </div>