{{!-- {{> layout}}

{{#contentFor "pageContent"}} --}}
{{!-- <link rel="stylesheet" href="./style.css"> --}}
  <div class="container">
    <h1>Welcome to My Personal Website</h1>
    <p>Hello, I'm Luying Qin. I'm a web developer passionate about creating amazing websites.</p>
    <p>Here are some of the technologies I work with:</p>
    <ul>
      {{#each technologies}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>Feel free to explore my portfolio and get in touch!</p>
  </div>
{{!-- {{/contentFor}} --}}