<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Personal Website</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <header>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy; 2023 Luying Personal Website | <a href="https://github.com/droncoding">GitHub</a> | <a href="https://www.linkedin.com/in/lauren-qin-694857178?trk=people-guest_people_search-card&originalSubdomain=ca">LinkedIn</a></p>
  </footer>
</body>
</html>
