 <div class="container">
    <h1>Projects</h1>
    {{#each projects}}
      <div class="project">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <a href="{{link}}">Learn More</a>
      </div>
    {{/each}}
  </div>